%h1.page-header
  About SellMySilverNYC.com
  %br
  %small Top Rated Silver Buyers of NYC
  %h2
    %span 
  %p.lead
    %span 
      = "We are an A+ rated silver buyer—insured, secure, and trustworthy. Our company has been serving the New York City communities in the five boroughs since (insert year/date here). Bring your unwanted silver to any of our locations in New York City and receive unmatched service from our offices in Brooklyn, Bronx, Manhattan, Queens and Staten Island. You can rest assured that you will get top dollar assessment for your valuables. Each of our locations is staffed with trained silver buyers who will test and weigh your pieces on the spot, in your presence. Within minutes, you will receive your silver’s appraised value and be offered a competitive cash for silver amount equal to the current silver spot price. The spot price refers to the price at which silver is currently trading, in other words, silver’s current market price."
  %hr
  %img.img-responsive{:alt => "", :src => "/ph.jpg"}/
%hr